<section>
  <div class="attribute-block">
    <div class="grid grid-6col">
      {{#each data.data.attributes as |attributes key|}}
        <div class="stat-block flex-group-center">
          <label for="data.attributes.{{key}}.value" class="rollable" data-roll="d6*@attributes.{{key}}.value" data-label="{{label}}">{{attributes.label}}</label>
          <input type="text" name="data.attributes.{{key}}.value" value="{{attributes.value}}" data-dtype="Number"/>
        </div>
      {{/each}}
    </div>
  </div>

<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="vitals">Vitals</a>
    <a class="item" data-tab="weapons">Weapons</a>
</nav>
</section>
<section class="sheet-body">
<div class="tab vitals" data-group="primary" data-tab="vitals">
  <div class="vitals-block">
    <div class="grid grid-2col">
        <div class="vitals stress-block">
          <div class="grid grid-4col flex-row flex-group-left">
            <label class="stress_label">Stress</label>
            <span><label>Spirit</label><label style="font-size:9px;"> Will x10</label></span>
            <input type="text" name="data.vitals.stress.value" value="{{data.data.vitals.stress.value}}" data-dtype="Number" />
          </div>
            {{editor content=data.stress_desc target="data.stress_desc" button=true owner=owner editable=editable}}
          </div>
        <div class="vitals favor-block">
          <div class="grid grid-4col flex-row flex-group-left">
            <label class="favor_label">Favor</label>
            <span><label>Favor</label><label style="font-size:9px;"> Affection x2</label></span>
            <input type="text" name="data.vitals.favor.value" value="{{data.data.vitals.favor.value}}" data-dtype="Number" />
          </div>
            {{editor content=data.data.favor_desc target="data.data.favor_desc" button=true owner=owner editable=editable}}
          </div>
      </div>
    </div>
  </div>
<div class="tab vitals" data-group="primary" data-tab="weapons">
  <div class="vitals-block">
    <div class="grid grid-2col">
      <div class="vitals notes-block" style="grid-row: span 2;">
        <p>Notes</p>
        {{editor content=data.data.notes target="data.data.notes" button=true owner=owner editable=editable}}
      </div>
      <div class="vitals weapons-block">
        <p>Weapons</p>
        <ol>
        {{#each actor.weapon as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                <h4 class="item-name rollabe">{{item.name}}</h4>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
      </div>
      <div class="vitals appearance-block">
        <p>Appearance</p>
        {{editor content=data.data.appearance target="data.data.appearance" button=true owner=owner editable=editable}}
      </div>

    </div>
  </div>
</div>
</section>
